* linguist-vendored
*.js linguist-vendored=false
*.jsx linguist-vendored=false
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.css linguist-language=CSS
*.html linguist-language=HTML
/src/** linguist-vendored=false 